body {
	background: #d8d9d8;
}
.expand {
	cursor: pointer;
  pointer-events: bounding-box;
}
.paper-scroller {
	overflow: scroll;
	padding: 0 !important;
	margin: 0 !important;
}
.paper {
	margin: 0 !important;
}
#paper {
	width: 100%;
}
@media print {

  @page {
    margin: 5mm;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body:before {
    content: '' !important;
  }

  /* Hide collapse controls when printing */
  .element.Node .expand {
    display: none;
  }
}

/* Highlight the first row of Node text */
.element.Node .content > tspan:first-child {
  font-weight: 800;
}

.link.Connection .label rect {
  fill: #d8d9d8;
}
